<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ebook</display-name>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.xiaotangbao.ebook.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xiaotangbao.ebook.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterSvl</servlet-name>
    <servlet-class>com.xiaotangbao.ebook.servlet.RegisterSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ValidateUsername</servlet-name>
    <servlet-class>com.xiaotangbao.ebook.servlet.ValidateUsername</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadBookSvl</servlet-name>
    <servlet-class>com.xiaotangbao.ebook.servlet.UploadBookSvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllBookTypeSvl</servlet-name>
    <servlet-class>com.xiaotangbao.ebook.servlet.GetAllBookTypeSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllBookSvl</servlet-name>
    <servlet-class>com.xiaotangbao.ebook.servlet.AllBookSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConfirmSvl</servlet-name>
    <servlet-class>com.xiaotangbao.ebook.servlet.ConfirmSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetBoughtBooks</servlet-name>
    <servlet-class>com.xiaotangbao.ebook.servlet.GetBoughtBooks</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentSvl</servlet-name>
    <servlet-class>com.xiaotangbao.ebook.servlet.CommentSvl</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterSvl</servlet-name>
    <url-pattern>/servlet/RegisterSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateUsername</servlet-name>
    <url-pattern>/servlet/ValidateUsername</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadBookSvl</servlet-name>
    <url-pattern>/user/UploadBookSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllBookTypeSvl</servlet-name>
    <url-pattern>/servlet/GetAllBookTypeSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllBookSvl</servlet-name>
    <url-pattern>/servlet/AllBookSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmSvl</servlet-name>
    <url-pattern>/servlet/ConfirmSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBoughtBooks</servlet-name>
    <url-pattern>/servlet/GetBoughtBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentSvl</servlet-name>
    <url-pattern>/servlet/CommentSvl</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>